.text-field,.button
{
    -fx-font-size:16px;
}
#topGrid
{
    -fx-background-color:#6B0F06 ;
}
#leftGrid,#rightGrid
{
    -fx-background-color:#FFFFC2;
}
.button
{
    -fx-background-color:#F8C471 ;
}
.button:hover {
    -fx-background-color: #F39C12;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#label1,#label2
{
    -fx-font-size:24px;
}