#topGrid
{
    -fx-background-color:#6B0F06 ;
}
#leftGrid,#rightGrid
{
    -fx-background-color:#FFFFC2;
}
.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    /* if outer border should be 10 radius */
    -fx-background-radius: 12 12 0 0, 11 11 0 0, 10 10 0 0;
}

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:40px;
  -fx-tab-max-height:40px;
}

.tab
{
 -fx-background-color:#F9E79F;
 }
 .tab-label:hover
 {
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
    -fx-font-weight:bold;
 }

.tab:selected {
    -fx-background-color:#F39C12 ;
    -fx-text-fill:#ffffff;
    -fx-font-weight:bold;
}
.button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

